* {
    border: 1px solid red;
}

.estate__detectors {
    padding: 6rem 6rem;
}

.estate__detectors-heading {
    padding: 4rem 6rem;
}

.estate__detectors-heading h1 {
    color: var(--text-white);
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4em;
    max-width: 80%;
    text-align: center;
}