* {
    border: 1px solid red;
}

.estate__detectors {
    padding: 6rem 6rem;
}

.estate__detectors-heading {
    padding: 4rem 6rem;
}

.estate__detectors-heading h1 {
    color: var(--text-white);
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4em;
    max-width: 80%;
    text-align: center;
}

.estate__detectors-content {
    padding: 4rem 6rem;
}

.estate__detectors-text {
    display: flex;
}

.estate__detectors-icon_container img {
    width: 41.41px;
    height: 50px;
}