* {
    border: 1px solid red;
}

.estate__detectors-heading {
    padding: 4rem 6rem;

}

.estate__detectors-heading h1 {
    color: var(--text-white);
    font-size: 60px;
    font-weight: 600;
    line-height: 1.4em;
    max-width: 80%;
    text-align: center;
}

.estate__detectors-content {
    flex-direction: column;
    padding: 4rem 6rem;
}

.estate__detectors-content h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--header-dark);
    line-height: 1.5em;
    width: 50%;
}

.estate__detectors-text {
    color: var(--text-dark-gray);
    margin-bottom: 1.3em;
    font-size: 16px;
    line-height: 1.9em;
    gap: 2rem;
    width: min(90%, 65rem);
    display: grid;
    grid-template-columns: 49% 48%;
}

.estate__detectors-icon_container img {
    width: 41.41px;
    height: 50px;
    margin-bottom: 1rem;
}

.estate__detectors-iconbox {
    margin: 5rem auto;
    width: min(90%, 75rem);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
}

.estate__detectors-icon_container {
    max-width: 90%;
    flex-direction: column;
}

.estate__detectors-icon_container h3 {
    font-size: 20px;
    color: var(--header-dark);
    margin: 0 0 0.7em;
    line-height: 1.5em;
}

.estate__detectors-icon_container p {
    text-align: center;
    font-size: 16px;
    color: var(--text-dark-gray);
    line-height: 1.9em;
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .estate__detectors {
        padding: 6rem 6rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .estate__detectors-heading {
        padding: 6rem;
    }

    .estate__detectors-heading h1 {
        max-width: 100%;
        font-size: 50px;
    }

    .estate__detectors-content h1 {
        min-width: 80%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}