/* * {
    border: 1px solid red;
} */

.blogPage__heading {
    padding: 10rem 8rem;
}

.blogPage__heading-content h3 {
    font-size: 44px;
    color: var(--text-white);
}

.blogPage__heading-info {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.blogPage__heading-container p {
    min-width: 100%;
}

.blogPage__heading-container p:first-child {
    font-size: 12px;
    color: #FFFFFF80;
    text-transform: uppercase;
}

.blogPage__heading-container p:nth-child(2) {
    font-size: 16px;
    color: var(--text-white)
}

.blogPage__content-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    flex-direction: column;
    padding: 6rem 6rem;
}

.blogPage__content-info p {
    font-size: 16px;
    color: var(--text-dark-gray);
    margin: 1rem 0 20.8px;
    line-height: 1.9em;
}

.blogPage__content-info h3 {
    margin: 2.5rem 0 1.5rem;
    font-size: 32px;
    color: var(--header-dark);
}

.blogPage__content-info h4 {
    margin: 2rem 0 1.5rem;
    font-size: 26px;
    color: var(--header-dark);
}

.has-dropCap:first-letter {
    color: black;
    float: left;
    font-size: 4rem;
    line-height: 0.65;
    margin: 0.1em 0.1em 0.2em 0;
}

.blogPage__content-img {
    flex-direction: column;
    margin-top: 3rem;
    width: 695px;
    text-align: center;
    gap: 1rem;
}

.blogPage__content-img img {
    width: 80%;
}

.blogPage__content-img p {
    font-style: italic;
}

@media screen and (min-width: 1200px) {
    .blogPage__content-info {
        margin-top: -6.8181818182em;
        background-color: white;
    }

    .blogPage__content {
        padding: 0 8rem;
    }

    .blogPage__content-info h4,
    h3,
    p {
        width: 70%;
    }
}

@media screen and (max-width: 1200px) {
    .blogPage__content-info {
        padding: 3rem 2rem;
    }

    .blogPage__content-info h4,
    h3,
    p {
        min-width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .blogPage__content-info {
        padding: 3rem 2rem;
    }

    .blogPage__content-info h4,
    h3,
    p {
        min-width: 100%;
    }

    .blogPage__content-img {
        max-width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .blogPage__heading {
        padding: 6rem 3rem;
    }

    .blogPage__heading-info {
        flex-direction: column;
        gap: 0;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .blogPage__heading-content h3 {
        font-size: 36px;
    }

    .blogPage__content-info {
        padding: 2rem 1rem;
    }
}