* {
    border: 1px solid red;
}

.ddns__header-info {
    color: var(--text-white);
    padding: 0 1rem;
    max-width: 35%;
}

.ddns__header-info h1 {
    font-size: 48px;
    margin-bottom: 2rem;
}

.ddns__header-info p {
    font-size: 16px;
    margin: 0 0 60px;
    padding: 0 80px 0 0;
    line-height: 1.9em;
}

.ddns__social svg {
    width: 50px;
}

.ddns__header-img {
    margin-left: 10rem;
}

.ddns__header-img img:nth-child(2) {
    margin-top: -85%;
    margin-left: -40%;
    display: block;
    position: relative;
    max-width: 380px;
}

.ddns__header-img img:first-child {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 60px;
    max-width: 444px;
}

.ddns__header-img img {
    border-radius: 10px;
    max-width: 100%;
}

.ddns__info-container {
    padding: 6rem 4rem;
}

.ddns__container-icon {
    width: 60px;
    height: 60px;
    background-color: #cdf2d6;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.ddns__container-icon img {
    width: 25px;
    height: 25px;
}

.ddns__info-wrapper {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.ddns__info-wrapper h2 {
    color: var(--text-dark);
    font-size: 35px;
    padding: 0 80px 0 0;
}

.ddns__info-wrapper p {
    color: #7C7E8E;
    font-size: 16px;
}

.ddns__info-left h2 {
    margin: 0 72px 30px 0;
}

.ddns__info-right h2 {
    margin: 43.75px 72px 30px 0;
}

.text-dash,
.download-dash {
    margin-top: 4.5rem;
    height: 1px;
    width: 50px;
    background: #FF798E;
}

.ddns__download {
    color: var(--text-white);
    position: relative;
    text-align: center;
}

.ddns__download img {
    border-radius: 20px;
    max-width: 60%;
}

.ddns__download-content {
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.download-dash {
    margin: 0 0 2rem 0;
}

.ddns__download-content h2 {
    margin: 43.75px 0 26.25px;
    padding: 0 24px;
    font-size: 35px;
}

.ddns__download-content p {
    font-size: 16px;
    line-height: .5rem;
}

.ddns__download-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    max-width: 150px;
    gap: 2rem;
}

.ddns__download-buttons button {
    border-radius: 10px;
    font-size: 14px;
    color: var(--text-white);
    line-height: 1.9em;
    padding: 1rem;
    cursor: pointer;
    border: none;
    font-family: var(--font-cerebri);
}

.ddns__download-buttons button:first-child {
    background-color: #0287ED;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}

.ddns__download-buttons button:nth-child(2) {
    background-color: #808291;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.05);
}

.ddns__download-buttons button:hover {
    transform: translateY(-0.25em);
}

.ddns__footer {
    margin-top: -15%;
    padding: 6rem 4rem;
}

.ddns__footer-content {
    margin-top: 10rem;
    padding: 6rem 4rem;
    position: relative;
    display: flex;
    justify-content: space-around;
}

.ddns__footer-content img {
    width: 150px;
}

.ddns__footer-content svg {
    color: var(--text-white);
}

@media only screen and (min-width: 1200px) {
    .ddns__content {
        display: flex;
        justify-content: center;
        padding: 10rem 4rem;
    }
}

@media only screen and (max-width: 1400px) {
    .ddns__download-content {

        max-width: 60%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    .ddns__content {
        padding: 6rem 4rem;
    }

    .ddns__header-info {
        max-width: 100%;
    }

    .ddns__header-img {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .ddns__info-wrapper {
        flex-direction: column;
        gap: 3rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .ddns__info-wrapper h2 {
        font-size: 28px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}