/* * {
    border: 1px solid red;
} */

.heatmaps-heading {
    padding: 6rem 6rem;
}

.heatmaps-content {
    flex-direction: column;
    padding: 4rem 6rem;
}

.heatmaps-content h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: var(--header-dark);
    line-height: 1.5em;
    max-width: 46%;
}

.heatmaps-content_container {
    display: flex;
    padding: 4rem 0;
}

.heatmaps-content_text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.heatmaps-content_text h1 {
    color: var(--header-dark);
    font-size: 65px;
    min-width: 80%;
    text-align: left;
}

.heatmaps-content_text p {
    margin-top: 5rem;
    min-width: 80%;
    color: var(--text-dark);
    font-size: 24px;
    font-style: italic;
    line-height: 1.8em;
    text-align: right;
}

.heatmaps-text {
    max-width: 70%;
    padding: 4rem 6rem;
    display: flex;
    color: var(--text-dark-gray);
    font-size: 16px;
    line-height: 1.9em;
}

.heatmaps-text p {
    width: min(90%, 65rem);
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 1.3em;
}