/* * {
    border: 1px solid red;
} */

.estate__partners-content_info h2 {
    font-size: 36px;
    line-height: 1.083em;
    font-weight: 600;
    color: var(--text-black);

    margin: 1.25em 0 0.75em;
}

.estate__partners-content_info p {
    font-size: 17px;
    line-height: 1.75em;
    margin-bottom: 1.3em;
    color: var(--text-dark-grey);
    font-weight: 400;
}

.estate__partners-info_img {
    width: 100px;
}

.estate__partners-info_img img {
    max-width: 100%;
}

.estate__partners-image {
    overflow: hidden;
    background-color: var(--text-white);
    display: inline-block;
    position: relative;
}

.estate__partners-image img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    vertical-align: middle;
}

.estate__partners-content_overlay {
    position: relative;
    background: var(--text-white);
    padding: 35px 35px 15px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.82);
}

.estate__partners-icon_wrap {
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 100%;
    margin: 0px 15px 0px 0px;
}

.estate__partners-iconBox,
.estate__partners-icon_wrap,
.estate__partners-icon_checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estate__partners-iconBox_text {
    display: inline-block;
    margin: 0 0 0 0.7em;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    flex-basis: 0;
}


.estate__partners-iconBox h3 {
    font-size: 16px;
    color: var(--text-dark);
    font-weight: 600;
    line-height: 2.5em;
}

.estate__partners-icon_checkmark {
    width: 12px;
    height: 12px;
}

.estate__partners-icon_checkmark img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .estate__partners {
        padding: 4rem 6rem;
    }

    .estate__partners-content {
        display: flex;
        justify-content: space-around;
    }

    .estate__partners-content_info {
        max-width: 25vw;
    }

    .estate__partners_overlay {
        min-width: 680px;
    }

    .estate__partners-content_overlay {
        margin-top: -30%;
        margin-left: 45%;
    }

    .estate__partners-image {
        max-width: 600px;
    }
}

@media screen and (max-width: 1200px) {
    .estate__partners {
        padding: 1rem 2rem;
        margin-bottom: 50px;
    }

    .estate__partners-content {
        flex-direction: column;
    }

    .estate__partners-content_info {
        max-width: 100%;
    }

    .estate__partners-image {
        max-width: 100%;
    }

    .estate__partners-content_overlay {
        margin-top: -20%;
    }

    .estate__partners-content_container {
        margin-bottom: 1rem;
    }
}