/* * {
    border: 1px solid red
} */

.estate__features-info {
    max-width: 100vw;
}

.estate__features-info_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 60px;
    min-height: 60px;
    border-radius: 50em;
    font-size: 25px;
    background: var(--color-primary);
    color: var(--text-white);

    border: 1px solid var(--color-primary);
    box-shadow: rgba(0, 0, 0, 0.07);
}

.estate__features-info_icon img {
    width: 50%;
    height: 50%;
}

.estate__features-info_title {
    font-size: 48px;
    margin-top: 20px;
    line-height: 1.083em;
    font-weight: 600;

    margin: 1.25em 0 0.75em;
}

.estate__features-info_text {
    color: var(--text-dark-grey);
    font-size: 18px;
    margin-bottom: 35px;
    font-weight: 400;
    line-height: 1.6em;
}

.estate__features-image {
    max-width: 600px;
    overflow: hidden;
    background-color: var(--text-white);
    display: inline-block;
    position: relative;

}

.estate__features-image img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    vertical-align: middle;
}

.estate__features-iconBox_overlay {
    background: var(--text-white);
    position: relative;
    padding: 35px 35px 15px;
    box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.82);
}

.estate__features-iconBox,
.estate__features-icon_wrap,
.estate__features-icon_checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estate__features-icon_wrap {
    width: 20px;
    height: 20px;
    background: var(--color-primary);
    border-radius: 100%;
    margin: 0px 15px 0px 0px;
}

.estate__features-iconBox_text {
    display: inline-block;
    margin: 0 0 0 0.7em;
    position: relative;
    z-index: 2;
    flex-grow: 1;
    flex-basis: 0;
}

.estate__features-iconBox h3 {
    font-size: 16px;
    color: var(--text-black);
    font-weight: 400;
    line-height: 2.5em;
}

.estate__features-icon_checkmark {
    width: 12px;
    height: 12px;
}

.estate__features-icon_checkmark img {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .estate__features {
        padding: 4rem 6rem;
    }

    .estate__features-content {
        display: flex;
        justify-content: space-around;
    }

    .estate__features-iconBox_overlay {
        margin-top: -50%;
        margin-left: 50%;
    }

}

@media screen and (max-width: 1200px) {
    .estate__features {
        padding: 1rem 2rem;
    }

    .estate__features-content {
        flex-direction: column;
    }

    .estate__features-info_title {
        font-size: 32px;
        line-height: 1.083em;
    }

    .estate__features-iconBox_overlay h3 {
        font-size: 16px;
        line-height: 2.5em;
    }
}

@media screen and (max-width: 650px) {}