* {
    border: 1px solid red;
}

.estate__footer {
    background: var(--footer-bg);
    width: 100%;
}

.estate__footer-content {
    border-bottom: 1px solid var(--text-grey);
}

.estate__footer-content_logo {
    width: 200px;
    padding-bottom: 1.5rem;
}

.estate__footer-content_logo img {
    max-width: 100%;
    height: auto;
}

.estate__footer-content_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.estate__footer-content_text {
    font-size: 1rem;
    color: var(--text-grey);
}

.estate__footer-img {
    max-width: 100%;
    margin-right: 5rem;
}

.estate__footer-img img {
    max-width: 100%;
}

@media screen and (min-width: 800px) {
    .estate__footer {
        padding: 4rem 6rem;
    }

    .estate__footer-content_info {
        padding: 60px 15px;
    }
}

@media screen and (max-width: 800px) {
    .estate__footer {
        padding: 1rem 2rem;
    }

    .estate__footer-content {
        padding-top: 2rem;
    }

    .estate__footer-content_info {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        line-height: 2em;
    }
}


@media screen and (max-width: 650px) {
    .estate__footer {
        padding: 0;
    }

    .estate__footer-content {
        flex-direction: column;
        padding: 0;
    }

    .estate__footer-content_logo,
    .estate__footer-content_info {
        padding: 3rem 1rem;
    }

    .estate__footer-img {
        padding-top: 2rem;
    }
}