/* * {
    border: 1px solid red
} */

.estate__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    top: 0;
    z-index: 1030;
}

.estate__navbar.active {
    padding: 1rem 2rem;
    background: var(--text-dark-grey);
    position: fixed;
}

.estate__navbar-logo {
    max-width: 100px;
    max-height: 16.17px;
}

.estate__navbar-logo img {
    max-width: 100%;
    height: auto;
}

.estate__navbar-links {
    font-family: var(--font-base);
    letter-spacing: 0.2em;
    color: var(--text-white);
    font-size: 13px;
    padding-right: 7rem;
}

.estate__navbar-links_container {
    display: flex;
    gap: 30px;
}

.estate__navbar-links_container a {
    padding: 1rem;
}

.estate__navbar-sidebar {
    margin-left: 1rem;

    display: none;
    position: relative;
}

.estate__navbar-sidebar svg {
    color: var(--text-dark-grey);
    cursor: pointer;
}

.estate__navbar-sidebar_overlay {
    position: fixed;
    top: 40px;
    right: 0;
    min-width: 250px;
    background: var(--text-white);
    transition: .5s ease;
    margin-top: 1rem;
    padding: 2rem;

    display: flex;
    flex-direction: column;
}

.estate__navbar-sidebar_links {
    font-family: var(--font-alt);
    color: var(--text-dark-grey);
    line-height: 1.6em;
    font-size: 15px;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {
    .estate__navbar {
        background: var(--text-dark-grey);
    }

    .estate__navbar-links {
        display: none;
    }

    .estate__navbar-sidebar {
        display: flex;
    }

}

@media screen and (max-width: 650px) {
    .estate__navbar-logo img {
        width: 110px;
    }
}