/* * {
    border: 1px solid red;
} */

.estate__features2 {
    padding: 4rem 6rem;
}

.estate__features2-content {
    display: flex;
    justify-content: space-around;
}

.estate__features2-content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 21%;
    margin-bottom: 1rem;
}

.estate__features2-container_img {
    max-width: 100px;
    vertical-align: middle;
}

.estate__features2-container_img img {
    width: 100%;
    height: auto;
    border: 0;
    line-height: 1em;
}

.estate__features2-container_text {
    flex-direction: column;
    max-width: 100%;
}

.estate__features2-container_text h3 {
    text-align: center;
    color: var(--text-black);
    font-size: 20px;
    display: inline-block;
    margin: 0 0 0.7em;
    line-height: 1.5em;
    font-weight: 600;
}

.estate__features2-container_text p {
    text-align: center;
    color: var(--text-dark-grey);
    font-size: 15px;
    margin: 0 0 10px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.6em;
    min-width: 100%;
}

/* @media screen and (min-width: 1200px) {
    .estate__features2 {
        padding: 4rem 6rem;
    }
} */

@media screen and (max-width: 1200px) {
    .estate__features2 {
        padding: 1rem 2rem;
    }

    .estate__features2-content {
        flex-direction: column;
    }

    .estate__features2-content_container {
        max-width: 100%;
    }
}

@media screen and (max-width: 650px) {}