/* * {
    border: 1px solid red;
} */

.estate__header-content {
    max-width: 100%;
    padding: 5rem 2rem;
    text-align: left;
    color: var(--text-white);
}

.estate__header-content_title h6 {
    opacity: 1;
    font-size: 13px;
    line-height: 1.2em;
    margin: 15px 0 9px;
    letter-spacing: 0.2em;
}

.estate__header-content_subheading {
    font-weight: 600;
}

.estate__header-content_subheading h1 {
    font-size: 52px;
    line-height: 1.2em;
    margin-top: 1.5rem;
}

.estate__header-content_subheading p {
    font-size: 44px;
    line-height: 1.083em;
    margin-top: 2rem;
}

.estate__header-content-body {
    display: flex;
    margin: 4rem 0;
    gap: 20px;
}

.estate__header-button {
    display: flex;
    align-items: center;
    width: 30%;
}

.estate__header-content-body button {
    border-radius: 100%;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
    max-width: 6.25em;
    min-height: 6.25em;
}

.estate__header-content-body button:hover {
    cursor: pointer;
}

.estate__header-content-body img {
    max-width: 50%;
}

.estate__header-content-body p {
    font-size: 24px;
    line-height: 1.6em;
}

@media screen and (min-width: 1200px) {
    .estate__header {
        padding: 4rem 6rem;
    }

    .estate__header-content {
        width: 1170px;
    }

    .estate__header-content-body {
        width: 60%;
    }
}

@media screen and (max-width: 992px) {

    .estate__header {
        padding: 1rem 1rem;
    }

    .estate__header,
    .estate__header-content-body {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .estate__header-content {
        left: 0;
        width: 750px;
    }

    .estate__header-content_subheading h1,
    .estate__header-content_subheading p {
        font-size: 40px;
        line-height: 1.2em;
    }

    .estate__header-content-body {
        max-width: 100%;
    }
}