.section__padding {
    padding: 4rem 6rem;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estate__bg {
    background: url('./assets/house.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* TEXT */

.p__futura {
    color: var(--text-white);
    font-family: var(--font-base);
    text-transform: capitalize;
}

.p__basier {
    font-family: var(--font-alt);
}