/* * {
    border: 1px solid red;
} */

.section__padding {
    padding: 4rem 6rem;
}

.flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.estate__bg {
    background: url('./assets/house.jpeg');
    background-position: center;
    background-size: cover;
}

.contact__bg {
    background: url('./assets/sky.png');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/* TEXT */

.p__futura {
    font-family: var(--font-base);
}

.p__futura-black {
    color: var(--text-black);
    font-family: var(--font-base);
}

.p__basier {
    font-family: var(--font-alt);
}

.p__cerebri {
    font-family: var(--font-cerebri);
}

.text__uppercase {
    text-transform: uppercase;
}

.text__underline {
    text-decoration: underline;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}